* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__dropdown {
  background-color: white;
}

.app__header > h1 {
  color: #cc1034;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.app__left {
  flex: 2;
}

.app__right {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.line-graph {
  flex-grow: 1;
}

.app__graph-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
