.info-box {
  flex: 1;
  cursor: pointer;
}

.info-box--selected {
  border-top: 10px solid;
  border-color: var(--clr);
}

.info-box--cases {
  --clr: #cc1034;
}

.info-box--recovered {
  --clr: #7dd71d;
}

.info-box--deaths {
  --clr: #9e9e9e;
}

.info-box__cases {
  color: var(--clr);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.info-box__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
